html{
    scroll-behavior: smooth;
}
body{
    margin:0;

}
.logo{
    padding-left: 60px;
}
#logo{
    height: 180px;

}
ul{
    margin: 0;
    padding: 0px 60px 0px 0px;
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    color: black;

}
a:visited{
    color: black;
}
.head:hover{
    color: rgb(127, 181, 177,1);
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
}
a:active{
    color: white;
}
.bg1{
    background-image: url(https://images.pexels.com/photos/4998816/pexels-photo-4998816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center center;
    background-size:cover;
   
}
.bg2{
    background-color:white;
    background-position: center center;
    background-size: cover;
}
.bg3{
    /* background-image: url(https://img.freepik.com/free-photo/beautiful-woman-is-engaged-yoga-studio_1157-28710.jpg?w=1380&t=st=1699358218~exp=1699358818~hmac=090e25b6084f536aa32ad8b718ea3c01b7627a9bbed268c04e57f93d5bfec939); */
    background-color: #e2e6e9;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.bg4{
    background-image: url(https://images.pexels.com/photos/5012071/pexels-photo-5012071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center center;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    height: 800px;
    padding-top: 60px;
    padding-bottom: 60px;


}
#two{
    padding-bottom: 60px;
}
#three{
    min-height: 800px;


}

footer{
    text-align: center;
    padding: 20px; 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
}
.container1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    text-align: left;
    padding-top: 150px ;
    padding-left: 60px;
    font-size: 25px;
    width: 500px;
    color: black;
}
.container2{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    text-align: left;
    padding-left: 60px;
    font-size: 70px;
    width:500px;
    color: white;
}
.container3{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    text-align: left;
    padding-left: 60px;
    font-size: 18px;
    width: 500px;
    color: black;
}
.yoga{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    color:white;
}
.yoga2{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    color:black;
}
.instructors{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    display: flex;
    justify-content: space-around;
}
#instructors{
    text-align: left;
    color: black;
    width: 300px;
}
.crop{
    width: 300px;
}
.table{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    width: auto;
    height: auto;
    margin: auto;
    border-collapse: collapse;
    background-color: none;
}
.space{
    width: 60px;
}
th{
    padding:5px;
}
td{
    border-bottom: 1px solid rgb(127, 181, 177,1);
    padding:5px;
}
.td1{
    width: 100px;
    height: 100px;
    text-align: left;
}
.td2{
    width: 200px;
    height: 100px;
    text-align: left;
}
.td3{
    width: auto;
    height: 100px;
    text-align: center;

}

th{
    text-align: left;
}

.elementor_button{
    margin: auto;
    background-color: rgb(127, 181, 177,1);
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
}
.elementor_button:hover{
    background-color: white;
    margin:auto;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
    color:  rgb(127, 181, 177,1);;
}

