*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: url(../images/bg.png) no-repeat center center;
    background-size: cover;

}
.contact{
    position: relative;
    background-color: white;
    max-width: 1140px;
    width: 100%;
    margin: 100px auto;
    border-radius: 40px;
    padding: 30px 50px;
    overflow: hidden;

}
.contact::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6DE1C2;
    height: 100% ;
    width: 419px;
}
.contact_inner{
    height: 100%;
    display:flex;
    position: relative;
    z-index: 1;
}
.left{
    width: 52%;
    height: 100%;
    padding: 40px;
    background-color: white;
}
.left h1{
    font-size: 46px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;

}
.left h1 span{
    color: #6DE1C2;
}
.left p{
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
}
.right{
    /* background-color: blueviolet;
    background-image: url(../images/maps.png); */
    width: 48%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .contact_inner{
        flex-direction: column;
    }
    .left,
    .right{
        width: 100%;
    }
}
input{
    display: inline-block;
    padding:15px;
    border: 0px;
    border-bottom: 1px solid #8E8E8E;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
input[type="checkbox"]{
    width:auto;}

.text{
    font-family:'Inter', sans-serif;
    color: #8E8E8E;
    font-size: 13px;
    }
.text2{
        font-family:'Inter', sans-serif;
        color: #383C3E;
        font-size: 14px;
        }
.space1{
    float: left;
    width: 60%;
}
.space2{
    float: right;
    width: 30%;
}
.button{
    background-color: #0982FE;
    border:none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding:20px;
    border-radius: 10px ;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}
.container1{
    padding-bottom: 5%;
}
#upload_container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border:1px dashed grey;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #8E8E8E;
    padding: 20px;
    margin-top: 15px;

}
#upload_container img{
    width:24x;
    height: 24px;
    user-select: none;

}
#upload_container div{
    position: relative;
    z-index: 10;
}
#upload_container input[type=file]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
.icon{
    width: 28px;
    height: 28px;
}
.container2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5% ;

}
.block1{
    display: flex;
    margin: 0;
}
.block2{
    display: flex;
    flex-direction: column;
    padding-left:10%;
}
.block2 h5{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.block2 p{
    margin:0;
    margin-top: 5%;
    white-space: nowrap;
    color:#DD5471;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}