*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: url(../images/bg.png) no-repeat center center;

}
.fonts{
    font-family: 'Montserrat', sans-serif;
}
.fs{
    font-size: 14px;
}
.fs2{
    font-size: 46px;
    font-weight: bold;
}
.fs3{
    font-size: 13px;
    font-weight: bold;
}
.contact{
    position: relative;
    background-color: white;
    max-width: 1140px;
    width: 100%;
    margin: 100px auto;
    border-radius: 40px;
    padding: 30px 50px;
    overflow: hidden;
    height: 1000px;
}
.contact::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6DE1C2;
    height: 100% ;
    width: 419px;
}
.contact_inner{
    height: 100%;
    display: flex;
    position: relative;
    z-index: 1;
}
.left{
    background-color: white;
    width: 50%;
    height: 100%;
    padding: 40px;
}
.right{
    background: url(../images/maps.png);
    width: 50%;
    height: 100%;
    
}
@media screen and (max-width: 768px) {
    .contact_inner{
        flex-direction: column;
    }
    .left,
    .right{
        width: 100%;
    }
}
input{
    display: inline-block;
    padding:15px;
    border: 0px;
    border-bottom: 1px solid #8E8E8E;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
input[type="checkbox"]{
    width:auto;}

.text{
    font-family:'Inter', sans-serif;
    color: #8E8E8E;
    font-size: 13px;
    }
    .text2{
        font-family:'Inter', sans-serif;
        color: #383C3E;
        font-size: 14px;
        }
.color{
    color: #6DE1C2;
}
.space1{
    float: left;
    width: 60%;
}
.space2{
    float: right;
    width: 30%;
}
.button{
    background-color: #0982FE;
    border:none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding:20px;
    border-radius: 10px ;
    text-align: center;
    display: block;
    width: 100%;
}
#upload_container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border:1px dashed grey;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #8E8E8E;
    padding: 20px;

}
#upload_container img{
    width:24x;
    height: 24px;
    user-select: none;

}

#upload_container div{
    position: relative;
    z-index: 10;
}
#upload_container input[type=file]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
/* .upload_space1{
    float: left;
    width: 50%;
}
.upload_space2{
    float: rigth;
    width: 50%;
} */
.icon{
    width: 28px;
    height: 28px;
}
.icons{
    display:flex;
}
.phone{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.phone h5{
    margin:0;
}
.phone p{
    margin:0;
    margin-top: 5%;
    white-space: nowrap;
}
.email{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.help{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}