.center{
    text-align:center;
}
div{
    text-align: center;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width:500px; 
    height: 100%;
}
th,td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}