.center{
    text-align:center;
}
div{
    text-align: center;
}
table{
    text-align: center;
    width: 90%; 
    height: 100%;
    margin: auto;
}
.row1{
    border: 1px solid black;
    border-collapse: collapse;
}

.color_red{
    color:red
}
.first-child{
    border-bottom: 1px solid black;
}
.last-child{
    border-left:1px solid black;
    border-right:1px solid black;
}
.strong_text{
    font-weight: bold;
}
td{
    text-align: center;
}