body{
    background-color: #C174C3;

}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.box{
     position:relative;
    background-color: #F9F9F9;
    width: 1440px;
    height: 820px;
    margin: 100px auto; 
}
.logo div{
    color: #111111;
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin-left: 100px;
}
.logo span{
    color:#C8815F;
}
.novigation ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    list-style: none;
    font-family: 'Jost', sans-serif;
    font-size: 17px;
}
.icons ul{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    gap: 35px;
    list-style:none;
    margin-right: 100px;
}
.right{
    float: right;
    margin-top: 300px;
    padding-right: 40px;
}
.left{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    position: absolute;
    z-index: 2;
    padding-left: 40px;
}
.text{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 90%;
    margin-top: 10%;
    margin-left: 10%;
    font-family:'Jost', sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;

}
.text span{
    font-size: 17px;
}
button{
    background:none;
    font-family:'Jost', sans-serif;
    font-size: 16px;
    border: 1px solid #111111;
    padding: 12px 32px 12px 32px;
    border-radius: 4px;
}
.nikeair{
    margin-left: 35%;
}
footer{
    display: flex;
    justify-content: center;
}
footer img{
    margin:10px;
}
